    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Edit mega_events [ID: {{mega_events.id}}]</h3>
    </div>
    <div class="modal-body">
        <form name="mega_events_form" class="form-horizontal" role="form" novalidate>
            <form-element label="name" mod="mega_events">
                <input type="text" class="form-control" name="name" placeholder="name" ng-model="mega_events.name"  focus/>
            </form-element>
             <form-element label="link" mod="mega_events">
                <input type="text" class="form-control" name="link" placeholder="link" ng-model="mega_events.link"  focus/>
            </form-element>
            <form-element label="short_description" mod="mega_events">
                <textarea type="text" name="short_description" class="form-control" rows="4" placeholder="Enter short_description here." ng-model="mega_events.short_description"/></textarea>
            </form-element>
            <form-element label="long_description" mod="mega_events">
                <textarea type="text" name="long_description" class="form-control" rows="4" placeholder="Enter long_description here." ng-model="mega_events.long_description"/></textarea>
            </form-element>

            <form-element label="mega_events Photo" mod="mega_events">
              <input type="file" ngf-select ng-model="picFile" name="file"
              accept="image/*" ngf-max-size="2MB">
              <i ng-show="myForm.file.$error.maxSize">File too large
                {{picFile.size / 1000000|number:1}}MB: max {{picFile.$errorParam}}</i>
                <img  src="../superadmin/mega_eventsimg/{{mega_events.image}}" style="max-width:100px;" alt="Image not available" class="img-responsive" />
                <br>
                <button ng-click="uploadPic(picFile)">Upload File</button>
                <span class="progress" ng-show="picFile.progress >= 0">
                  <div style="width:{{picFile.progress}}%"
                  ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="savemega_events(mega_events);"
                                ng-disabled="mega_events_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>