<h2 class="blog-post-title"><a  class="btn btn-default btn-sm" id="menu-toggle"><i class="fa fa-2x fa-bars"> </i></a> Admin Panel <code> Society Members </code></h2>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(society_member);">&nbsp;Add New society_member</button>
<br>

<div class="table-responsive">
<div class="panel panel-info">
  <div class="panel-heading">List of societies_members
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter societies_members list ..." class="nav-search-input" ng-model="filtersociety_member" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="societies_members.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="societies_members.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>

    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in societies_members | filter:filtersociety_member | orderBy:'-id'" id="{{c.id}}" animate-on-change='c.name + c.category' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.name}}</td><td>{{c.email}}</td><td>{{c.position}}</td><td>{{c.phone}}</td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deletesociety_member(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
